.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background-light-color);
  border-top: 1px solid var(--border-color);
  color: black;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  max-width: 100%;
}

.logo {
  flex: 1;
  display: flex;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  cursor: pointer;
}

.back-btn {
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-actions {
  display: flex;
  gap: 12px;
}

.back-btn {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

.back-btn > div:first-child {
  font-size: 28px;
}

.notification-btn,
.menu-btn {
  background: none;
  border: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.notification-btn:hover,
.menu-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}